<br />
<%= render :partial => 'table_names_for_show', :locals => {:action => "get_columns_for_table_to_delete", :id => @column_names} %>
<br />
<div id="columns_area"></div>
</div>
<div style="font: 12px;color:#FF4500"><%= @error_message %></div>